{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Mascota</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bodygeneral">

<div class="mascotas-container">

    <h2 style="text-align:center; color:#ff6600;">✏️ Actualizar Mascota</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red; text-align:center;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST" style="max-width:400px; margin:auto;">
        {% csrf_token %}

        <p>
            <label>Nombre</label><br>
            <input type="text" name="nombre" value="{{ mascota.nombre }}" required>
        </p>

        <p>
            <label>Edad</label><br>
            <input type="number" name="edad" min="0" value="{{ mascota.edad }}" required>
        </p>

        <p>
            <label>Raza</label><br>
            <input type="text" name="raza" value="{{ mascota.raza }}" required>
        </p>

        <p>
            <label>Tipo</label><br>
            <input type="text" name="tipo" value="{{ mascota.tipo }}" required>
        </p>

        <p>
            <label>Refugio (nombre)</label><br>
            <input type="text" name="refugio_nombre" value="{{ mascota.refugio_nombre }}" required>
        </p>

        <button type="submit" style="background:#00b7ff; color:white; font-weight:bold;">
            Guardar Cambios
        </button>
    </form>

    <div style="text-align:center; margin-top:20px;">
        <a href="{% url 'ver_mascotas' %}" class="listar_mascotas">Volver</a>
    </div>

</div>

</body>
</html>
