{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Solicitud</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bodygeneral">

<div class="solicitudes-container">

    <h2 style="text-align:center; color:#ff6600;">✏️ Editar Solicitud</h2>

    {% if messages %}
        <div style="text-align:center;">
            {% for m in messages %}
                <p style="color:red; font-weight:bold;">{{ m }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST" style="max-width:450px; margin:auto;">
        {% csrf_token %}

        <p>
            <label>Nombre adoptante</label><br>
            <input type="text"
                   name="nombre_adoptante"
                   value="{{ solicitud.nombre_adoptante }}"
                   required>
        </p>

        <p>
            <label>Correo adoptante</label><br>
            <input type="email"
                   name="correo"
                   value="{{ solicitud.correo }}"
                   required>
        </p>

        <p>
            <label>Mascota</label><br>
            <input type="text"
                   name="mascota_nombre"
                   value="{{ solicitud.mascota_nombre }}"
                   required>
        </p>

        <button type="submit"
                style="background:#00b7ff; color:white; font-weight:bold;">
            Guardar Cambios
        </button>
    </form>

    <div style="text-align:center; margin-top:20px;">
        <a href="{% url 'ver_solicitudes' %}" class="volversolicitudes">
            Volver
        </a>
    </div>

</div>

</body>
</html>
