{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Mascota</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body class="bodygeneral">

<div class="mascotas-container">

    <h2 style="text-align:center; color:#ff6600;">Agregar Mascota</h2>

    <!-- Mostrar errores -->
    {% if messages %}
        {% for message in messages %}
            <p style="color:red; text-align:center;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST" style="max-width:400px; margin:auto;">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button type="submit" style="background:#00b7ff; color:white; font-weight:bold;">
            Guardar
        </button>
    </form>

    <div style="text-align:center; margin-top:20px;">
        <a href="{% url 'menu' %}?rol={{ rol }}" class="volvermascotas">Volver</a>
    </div>

</div>

</body>
</html>
