{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Enviar Solicitud</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bodygeneral">

<div class="form-solicitud-container">

    <h2 style="text-align:center; color:#ff6600;">Enviar Solicitud de Adopción</h2>

    <form method="POST">
        {% csrf_token %}

        <p>
            <label>Nombre Adoptante</label><br>
            <input type="text" name="nombre_adoptante" required>
        </p>

        <p>
            <label>Correo Adoptante</label><br>
            <input type="email" name="correo" required>
        </p>

        <p>
            <label>Nombre de la Mascota</label><br>
            <input type="text" name="mascota_nombre" required>
        </p>

        <button type="submit" class="formulariosolicitud">
            Enviar Solicitud
        </button>
    </form>

    <div style="text-align:center; margin-top:20px;">
        <a href="{% url 'ver_solicitudes' %}" class="volversolicitudes">Volver</a>
    </div>

</div>

</body>
</html>
