{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Enviar Solicitud</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bodygeneral">

<div class="form-solicitud-container">

    <h2 style="text-align:center; color:#ff6600;">Enviar Solicitud de Adopción</h2>

    <form method="POST">
        {% csrf_token %}

        <p>
            <label>Nombre Adoptante</label><br>
            {{ form.nombre_adoptante }}
        </p>

        <p>
            <label>Correo Adoptante</label><br>
            {{ form.correo_adoptante }}
        </p>

        <p>
            <label>Mascota</label><br>
            {{ form.mascota_fk }}
        </p>

        <button type="submit" class="formulariosolicitud">Enviar Solicitud</button>
    </form>

    <div style="text-align:center; margin-top:20px;">
        <a href="{% url 'menu' %}?rol={{ rol }}" class="volversolicitudes">Volver</a>
    </div>

</div>

</body>
</html>
