{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
</head>
<body class="menufondo">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <p>Rol actual: {{ rol }}</p>
    <img src="{% static 'img/MenuPrincipal.png' %}" class="MenuPrincipal">
    <ul class="menu-imagenes">
    
        <a href="{% url 'mascotas' %}?rol={{ rol }}">
            <img src="{% static 'img/VerMascotas.png' %}" class="VerMascotas" alt="Ver Mascotas">
        </a>
    
    
        <a href="{% url 'refugios' %}?rol={{ rol }}">
            <img src="{% static 'img/VerRefugios.png' %}" class="VerRefugios" alt="Ver Refugios">
        </a>
    
   
        <a href="{% url 'solicitudes' %}?rol={{ rol }}">
            <img src="{% static 'img/VerSolicitudes.png' %}" class="VerSolicitudes" alt="Ver Solicitudes">
            
        <a href="{% url 'login' %}">
            <img src="{% static 'img/CerrarSesion.png' %}" class="CerrarSesion" alt="Cerrar Sesión">
        </a>

    {% if rol == "admin" %}
    
            <a href="{% url 'agregar_mascota' %}?rol={{ rol }}">
                <img src="{% static 'img/AgregarMascotas.png' %}" class="AgregarMascotas" alt="Agregar Mascota">
                
            </a>
    
    {% endif %}
        <a href="{% url 'login' %}">
            <img src="{% static 'img/CerrarSesion.png' %}" class="CerrarSesion" alt="Cerrar Sesión">
        </a>
    
</ul>

</body>
</html>
