{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <img src="{% static 'img/listarefugios.png' %}" class="listarefugios" alt="listarefugios">
</head>
<body class="bodygeneral">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="refugiostexto">
    {% if refugios %}
        <ul>
            {% for refugio in refugios %}
                <li>
                    {{ refugio.id }} - {{ refugio.nombre }} - {{ refugio.direccion }} - {{ refugio.telefono }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay refugios registrados.</p>
    {% endif %}

    {% if rol == "admin" %}
        <a href="{% url 'agregar_refugio' %}?rol={{ rol }}">Agregar Refugio</a>
    {% endif %}

    <br><a href="{% url 'menu' %}?rol={{ rol }}">Volver al menú</a>
    </div>
</body>
</html>
