<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seguimiento de Solicituuudes</title>
</head>
<body>
    <h1>Seguimiento de Solicitudes</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Mascota</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for s in solicitudes %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.usuario }}</td>
                <td>{{ s.mascota }}</td>
                <td>{{ s.estado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/menu/?rol={{ rol }}">Volver al menú</a>
</body>
</html>
