{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Solicitudes de Adopción</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bodygeneral">

<div class="solicitudes-container">

    <h2 style="text-align:center; color:#ff6600;">📄 Solicitudes de Adopción</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="text-align:center; color:red; font-weight:bold;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div style="text-align:center; margin-bottom:20px;">
        <a href="{% url 'enviar_solicitud' %}?rol={{ rol }}" class="AgregarSolicitud">Agregar Solicitud</a>

    </div>

    <table class="tabla-solicitudes">
        <thead>
            <tr>
                <th>Nombre Adoptante</th>
                <th>Correo</th>
                <th>Mascota</th>
                <th>Fecha</th>
              
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for solicitud in solicitudes %}
            <tr>
                <td>{{ solicitud.nombre_adoptante }}</td>
                <td>{{ solicitud.correo_adoptante }}</td>
                <td>{{ solicitud.mascota_nombre }}</td>
                <td>{{ solicitud.fecha }}</td>
                

                <td>
                    {% if rol == "admin" %}
                    <a href="{% url 'actualizar_solicitud' solicitud.id %}?rol={{ rol }}" style="color:#00b7ff; font-weight:bold;">Editar</a>
                    {% endif %}

                    <a href="{% url 'detalle_solicitud' solicitud.id %}?rol={{ rol }}" style="color:green; font-weight:bold; margin-left:10px;">Ver</a>

                    {% if rol == "admin" %}
                    <a href="{% url 'eliminar_solicitud' solicitud.id %}?rol={{ rol }}" style="color:red; font-weight:bold; margin-left:10px;">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="6" style="text-align:center;">No hay solicitudes</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="text-align:center; margin-top:20px;">
        <a href="{% url 'menu' %}?rol={{ rol }}" class="volversolicitudes">Volver al Menú</a>
    </div>

</div>

</body>
</html>
